/* Common styles for all screen sizes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

#Tools {
    background-color: #88B04B !important; /* Red background color, !important to override other styles */
}

#image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


#section1{
    background-color: ;
}


#other-tools {
    margin-top: 50px;
}




/* Media query for responsive design for tablets including 768x1024 */
@media screen and (max-width: 899px) {
  /* Styles for screens up to 992px wide (tablets) */
  body {
    overflow-x: hidden; /* Remove horizontal scrollbar */
  }

  /* Center the image in the landing section on tablets */
  #text-container {
    text-align: center;
  }

  /* Adjust the padding on the landing section for better spacing on tablets */
  #landing {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Adjust padding on project items for tablets */
  .p-5 {
    padding: 15px;
  }

  /* Center the text in the contact section on tablets */
  #contact h5 {
    text-align: center;
  }

  /* Center the map image on tablets */
  #map-img {
    display: flex;
    justify-content: center;
  }

  /* Add margin between form groups for tablets */
  .form-group {
    margin-bottom: 15px !important;
  }
}
